<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Ajout Formation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/myStyle.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body ng-app="GestionFormation" ng-controller="ajoutFormationController">
        
        <div class="col-md-6 col-sm-6 col-xs-12 spacer">
            <div class="panel panel-info">
                <div class="panel-heading">Ajout Formation : {{test}}</div>
                <div class="panel-body">
                    <div class="" ng-if="mode.value=='form'">
                        <form>
                            <div class="">
                                <label>nom formation : </label>
                                <input type="text" ng-model="formation.nomFormation" />
                            </div>
                            
                            <div class="">
                                <label>Description : </label>
                                <input type="text" ng-model="formation.Description" />
                            </div>
                            
                            <div class="">
                                <label>Date formation : </label>
                                <input type="date" ng-model="formation.dateFormation" />
                            </div>
                            
                            <div class="form-group">
                                <label for="repeatSelectResponsable"> responsable :  </label>
                                <select name="repeatSelectResponsable" id="repeatSelectResponsable" ng-model="formation.responsableFormation.idUtilisateur">
                                    <option ng-repeat="option in optionsUtilisateurs" value="{{option.idUtilisateur}}">
                                        {{option.idUtilisateur}} - {{option.nomUtilisateur}} {{option.prenomUtilisateur}}
                                    </option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="repeatSelectColl"> Collaborateurs :  </label>
                                <select name="repeatSelectColl" id="repeatSelectColl" ng-model="formation.collaborateurs" multiple>
                                    <option ng-repeat="option in optionsUtilisateurs" value="{{option.idUtilisateur}}">
                                        {{option.idUtilisateur}} - {{option.nomUtilisateur}} {{option.prenomUtilisateur}}
                                    </option>
                                </select>
                            </div>
                            
                            
                            
                            <button ng-click="valider()">Send</button>
                        </form>
                        
                        
                        
                    </div>
                    
                    
                    <!--                    <div class="" ng-if="mode.value=='confirm'">
                                            <div class="panel-heading">Confirmation : L'utilisateur a été inscrit avce succès</div>
                                            <div class="form-group">
                                                <label class="control-label">Id : </label>
                                                <label class="control-label">{{utilisateur.idUtilisateur}}</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Nom : </label>
                                                <label class="control-label">{{utilisateur.nomUtilisateur}}</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Prenom : </label>
                                                <label class="control-label">{{utilisateur.prenomUtilisateur}}</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Prenom : </label>
                                                <label class="control-label">{{utilisateur.emailUtilisateur}}</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Date de Naissance : </label>
                                                <label class="control-label">{{utilisateur.joinDate|date:'yyyy-MM-dd'}}</label>
                                            </div>
                                        </div>
                                        
                                        <div class="" ng-if="exception.message">
                                            <span class="error">{{exception.message}}</span>
                                        </div>-->
                    
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="/js/angular.min.js" ></script>
        <script type="text/javascript" src="/app/controllers/administrateur/ajoutFormationController.js" ></script>
        
    </body>
</html>
