
@CHARSET "ISO-8859-1";

.spacer
{
    margin-top: 20px;
}

.spacer-all-sides
{
    margin: 20px;
}
.spacer-sides
{
    margin-left: 20px;
    margin-right: 20px;
}

.spacer-sides-10
{
    margin-left: 10%;
    margin-right: 10%;
}
.clickable
{
    cursor: pointer;
    
}

.error
{
    color: red;
}

[ng\:cloak], [ng-cloak], .ng-cloak 
{
  display: none !important;
}

.upload-left
{
    float: left;
    size: 60%;
    margin-right: 10px;
}
.upload-right
{
    float: left;
    size: 20%;
    
}

.green-panel-heading
{
    color: #00e673;
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-left-radius:3px;
    border-top-right-radius:3px
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.tabsdemoDynamicHeight md-content 
{
  background-color: transparent !important; 
}

.tabsdemoDynamicHeight md-content md-tabs 
{
    background: #f6f6f6;
    border: 1px solid #e1e1e1; 
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper 
{
   background: white; 
}

.tabsdemoDynamicHeight md-content h1:first-child 
{
    margin-top: 0; 
}

.slide-animate-container {
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.slide-animate {
  padding:10px;
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
  padding:10px;
}

.slide-animate.ng-enter {
  top:-50px;
}
.slide-animate.ng-enter.ng-enter-active {
  top:0;
}

.slide-animate.ng-leave {
  top:0;
}
.slide-animate.ng-leave.ng-leave-active {
  top:50px;
}

.send-left
{
    float: right;
}

.panel-spacer
{
    margin-left: 5%;
    margin-right: 5%;
}
.menu-link
{
    font-family: cursive;
    
}

/* customized bootstrap button */
.btn-mystyle {
  color: #fff;
  background-color: #008080;
  border-color: #008085;
}
.btn-mystyle:focus,
.btn-mystyle.focus {
  color: #fff;
  background-color: #008085;
  border-color: #008090;
}
.btn-mystyle:hover {
  color: #fff;
  background-color: #018085;
  border-color: #008095;
}
.btn-mystyle:active,
.btn-mystyle.active,
.open > .dropdown-toggle.btn-mystyle {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-mystyle:active:hover,
.btn-mystyle.active:hover,
.open > .dropdown-toggle.btn-mystyle:hover,
.btn-mystyle:active:focus,
.btn-mystyle.active:focus,
.open > .dropdown-toggle.btn-mystyle:focus,
.btn-mystyle:active.focus,
.btn-mystyle.active.focus,
.open > .dropdown-toggle.btn-mystyle.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-mystyle:active,
.btn-mystyle.active,
.open > .dropdown-toggle.btn-mystyle {
  background-image: none;
}
.btn-mystyle.disabled:hover,
.btn-mystyle[disabled]:hover,
fieldset[disabled] .btn-mystyle:hover,
.btn-mystyle.disabled:focus,
.btn-mystyle[disabled]:focus,
fieldset[disabled] .btn-mystyle:focus,
.btn-mystyle.disabled.focus,
.btn-mystyle[disabled].focus,
fieldset[disabled] .btn-mystyle.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-mystyle .badge {
  color: #5cb85c;
  background-color: #fff;
}