
@CHARSET "ISO-8859-1";

.spacer
{
    margin-top: 20px;
}

.clickable
{
    cursor: pointer;
}

.error
{
    color: red;
}

[ng\:cloak], [ng-cloak], .ng-cloak 
{
  display: none !important;
}



.green-panel-heading
{
    color: #00e673;
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-left-radius:3px;
    border-top-right-radius:3px
}