
@CHARSET "ISO-8859-1";

.spacer
{
    margin-top: 20px;
}

.clickable
{
    cursor: pointer;
}

.error
{
    color: red;
}

[ng\:cloak], [ng-cloak], .ng-cloak 
{
  display: none !important;
}



.green-panel-heading
{
    color: #00e673;
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-left-radius:3px;
    border-top-right-radius:3px
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.tabsdemoDynamicHeight md-content 
{
  background-color: transparent !important; 
}

.tabsdemoDynamicHeight md-content md-tabs 
{
    background: #f6f6f6;
    border: 1px solid #e1e1e1; 
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper 
{
   background: white; 
}

.tabsdemoDynamicHeight md-content h1:first-child 
{
    margin-top: 0; 
}

.slide-animate-container {
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.slide-animate {
  padding:10px;
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
  padding:10px;
}

.slide-animate.ng-enter {
  top:-50px;
}
.slide-animate.ng-enter.ng-enter-active {
  top:0;
}

.slide-animate.ng-leave {
  top:0;
}
.slide-animate.ng-leave.ng-leave-active {
  top:50px;
}